@import url(reset.css);
@import url(common.css);

.wrap{
  width: 100%;
}

.con{
  width: 100%;
  max-width: 500px;
  height: 400px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.head{
  height: 75px;
  display: flex;
  align-items: center;
}

.profile_img{
  width: 50px;
  height: 50px;
  /* background-color: lightblue; */
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.main{
  width: 500px;
  height: 250px;
  overflow: hidden;
}

.footer{
  display: flex;
}

.fa-regular,
.fa-solid{
  margin: 30px 5px 0 20px;
}

.like_text{
  margin-top: 30px;
}

.active{
  color: red;
}

nav{
  display: flex;
  justify-content: flex-end;
}

.nav_wrap{
  position: relative;
}

.hamburger a{
  width: 30px;
  height: 30px;
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
}

.line{
  width: 30px;
  height: 1.5px;
  background-color:#000;
}

.drop_down{
  /* display: none; */
  position: absolute;
  top: 3px;
  right: 70px;
  opacity: 0;
  height: 70px;
  overflow: hidden;
  transition: all 0.3s ease;
}

li{
  margin: 5px 10px 20px 20px;
}

.drop_down.active{
  opacity: 1;
  height: auto;
}

